ul.private-party-tree,
ul.private-party-tree ul {
    list-style-type: none;
    background: url("../images/vline.png") repeat-y;
    background-repeat: repeat-y;
    margin: 0 !important;
    padding: 0 !important;
}
ul.private-party-tree.last{
    background: none repeat scroll 0 0 white;
    margin-left: 0 !important;
    padding-left: 20px !important;
}

ul.private-party-tree ul {
    margin-left: 15px !important;
    clear: left;
    float: left;
}

ul.private-party-tree li {
    margin: 0 !important;
    padding: 0 12px !important;
    line-height: 20px !important;
    background: url("../images/node.png") no-repeat;
    color: #369;
    list-style-position: inside;
    list-style-image: none;
    list-style-type: none;
    float: left;
    clear: left;
}
ul.private-party-tree li span.name{
    cursor: pointer;
}
ul.private-party-tree li.add,
ul.private-party-tree li.add_user,
ul.private-party-tree li a.control{
    font-style: italic;
}

ul.private-party-tree li.last {
    background: #fff url("../images/lastnode.png") no-repeat;
}

ul.collapsed{
    display: none;
}
ul.private-party-tree li .icon,
ul.private-party-tree li.user  .remove,
ul.private-party-tree li.group .remove,
ul.private-party-tree li.user  .edit_button,
ul.private-party-tree li.group .edit_button,
ul.private-party-tree li.user  .delete_button,
ul.private-party-tree li.group .delete_button{
    display:        block;
    float:          left;
    width:          16px;
    height:         16px;
    margin-right:   5px;
}
ul.private-party-tree li.user .icon{
    background-image: url("../images/user.png");
}
ul.private-party-tree li.group .icon{
    background-image: url("../images/group.png");
}
ul.private-party-tree li.user  .remove,
ul.private-party-tree li.group .remove,
ul.private-party-tree li.user  .delete_button,
ul.private-party-tree li.group .delete_button{
    background-image: url("../images/delete.png");
}
ul.private-party-tree li.user  .edit_button,
ul.private-party-tree li.group .edit_button{
    background-image: url("../images/edit.png");
}


ul.private-party-tree li.user  span.name,
ul.private-party-tree li.group span.name{
    float:          left;
    display:        block;
    margin-right:   5px;
    min-width:      150px;
}